
{{ define "wordle-form" }}
{{/* comment */}}
<form name="wordle" hx-post="/wordle">
    <h1>{{ .Bla }}</h1>
    <div class="grid grid-cols-5 gap-4">
      {{ if . }}
        {{ range $ri, $rowGuess := .Guesses }}
          {{ range $li, $letterGuess := $rowGuess }}
            <div>
              <input
                type="text"
                name="r{{ $ri }}[]"
                class="border-2 border-gray-400 {{ if $letterGuess.HitOrMiss.Exact }}bg-green-400{{ else if $letterGuess.HitOrMiss.Some }}bg-yellow-200{{ end }}"
                value="{{ printf "%c" $letterGuess.Letter }}"
              />
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    <input type="submit" hidden />
  </form>
{{ end }}
