
{{ define "wordle-form" }}
  <div id="wordle-container" hx-ext="response-targets">  
    <h2 class="text-center">{{ if .IsSolved }}SOLVED{{ else }}unsolved{{ end }}</h2> 
    <div class="flex content-center">
      <form
        name="wordle" hx-post="/wordle" hx-target="#wordle-container" class="m-auto" hx-target-error="#any-errors"
        {{ if .IsSolved }}inert{{ end }}
      >
          <div id="any-errors"></div>
          <h1>{{ .Data.Debug }}</h1>
          <div class="grid grid-cols-5 gap-2">
            {{ if .Data }}
              {{ $canWrite := false }}
              {{ $hasWrite := false }}
              {{ range $ri, $rowGuess := .Data.Guesses }}
                {{ range $li, $letterGuess := $rowGuess }}
                  {{ $hasValue := and (ne $letterGuess.Letter 0) (ne $letterGuess.Letter 65533) }}
                  {{ if and (not $hasValue) (not $hasWrite) }}
                    {{ $canWrite = true }}
                    {{ $hasWrite = true }}
                  {{ end }}
                  <div>
                    <input
                      {{ if and $canWrite (eq $li 0) }}autofocus{{ end }}
                      type="text"
                      maxlength="1"
                      {{ if $canWrite }}required="required"{{ else if not $hasWrite }}readonly="readonly"{{ else }}disabled="disabled"{{ end }}
                      pattern="[A-Za-z]"
                      name="r{{ $ri }}"
                      style="caret-color: transparent;"
                      class="capitalize border-2 rounded-md border-gray-400 {{ if $letterGuess.HitOrMiss.Exact }}bg-green-400{{ else if $letterGuess.HitOrMiss.Some }}bg-yellow-200{{ end }} w-16 h-16 text-center text-4xl text-gray-600"
                      value="{{ if $hasValue }}{{ printf "%c" $letterGuess.Letter }}{{ end }}"
                      autocomplete="off"
                    />
                  </div>
                {{ end }}
                {{ if $hasWrite }}{{ $canWrite = false }}{{ end }}
              {{ end }}
            {{ end }}
          </div>

          <input type="submit" hidden />
      </form>
    </div>
  {{ if .IsSolved }}
    <div class="flex content-center">
      <button class="m-auto mt-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        hx-post="/new"
        hx-target="wordle-container"
      >
        New Game
      </button>
    </div>
  {{ end }}
  </div>
{{ end }}
